/*
/*/*

*.log
!.gitignore
!/.Rbuildignore
!/*.Rproj

!*.R
!*.Rd
!*.yml
!*.Rmd

!/DESCRIPTION
!/NAMESPACE
!/LICENSE.md
!/README.md
!NEWS.md
!README.md

!/cran-comments.md
!/data-raw/
!/inst/
/inst/*
!/inst/templates/
!/man/
!/R/
!/vignettes/
!/tests/
/tests/*
!/tests/testthat/
/tests/testthat/*
!/tests/testthat/test-*.R
!/tests/testthat.R
/tests/testthat/testdata/

/.Rhistory
/.Rproj*
/.RData
/.vscode

!/.lintr
!/.github/
/.github/*
!/.github/workflows
!/tic.R

/inst/doc
.Rproj.user
/doc/
/Meta/
docs
Meta
inst/doc
!README.qmd
!vignettes/*.qmd
